integration-tests/flows/Round_Robin_Assign_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Round_Robin_Assign_Owners</name>
        <label>Round Robin Assign Owners</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>FlowRoundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__recordsToRoundRobin</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordToRoundRobin</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryToRetrieveAssignees</name>
            <value>
                <stringValue>SELECT Id FROM User Where Name = &apos;roundRobinUser&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRoundRobin</name>
            <value>
                <elementReference>Leads</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Current_Record_to_Collection</name>
        <label>Add Current Record to Collection</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Round_Robin_Assign_Owners</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Round Robin Assign Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Robin Assign Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Current_Record_to_Collection</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>The leads that will enter the round robin assignment</description>
        <name>Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
